<ion-view view-title="SIPRE" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="data.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Log in</button>
      <a class="button button-block button-calm" href="#/signup">Sign up</a>
  </ion-content>
</ion-view>